<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class=""><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>用户中心</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/md5.js"></script>
</head>

<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
<div class="main-container" style="height: auto">
    <!-- Loader -->
    <div id="site-loader" class="load-complete">
        <div class="loader">
            <div class="loader-inner ball-clip-rotate">
                <div></div>
            </div>
        </div>
    </div><!-- Loader /- -->

    <!-- Header -->
    <header class="header-section container-fluid no-padding" style="width: 100%;height: 10%;background-color: #f2f2f2;line-height: 60px;">
        <!-- Top Header -->
        <div class="top-header container-fluid no-padding">
            <!-- Container -->
            <div class="container">
                <div class="col-md-9 col-sm-9 col-xs-9 dropdown-bar" style="line-height: 60px;">
                    <h4 style="margin-top: 2.5%;">Welcome&nbsp;&nbsp;&nbsp;To&nbsp;&nbsp;&nbsp;Exchanged&nbsp;&nbsp;&nbsp;House</h4>
                </div>
                <!-- Social -->
                <div class="col-md-3 col-sm-3 col-xs-3 header-social">
                    <ul style="list-style: none">
                        <li style="float: left;margin-left: 4%;"> <a id="modal-756894" href="/user/<%= id%>" role="button" data-toggle="modal"><%= username%></a></li>
                        <li  style="float: left;margin-left: 4%;"><a href="#" title="Twitter">注册</a></li>
                        <li  style="float: left;margin-left: 4%;"><a href="/" title="Linkedin">首页</a></li>
                    </ul>
                </div><!-- Social /- -->
            </div><!-- Container /- -->
        </div><!-- Top Header /- -->
    </header>
    <div class="container" style="margin-top: 3%;">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-3 column">
                        <ul class="nav  nav-stacked">
                            <li>
                                <a href="/user/<%= id%>">用户信息</a>
                            </li>
                            <li>
                                <a href="/user/<%= id%>/insert">新增供求信息</a>
                            </li>
                            <li  class="active">
                                <a href="/user/<%= id%>/manager">管理供求信息</a>
                            </li>
                            <li>
                                <a href="/user/<%= id%>/remind">与我有关</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9 column">
                        <table class="table">
                            <caption>管理我的信息</caption>
                            <thead>
                            <tr>
                                <th>商品名称</th>
                                <th>联系邮箱</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i=0;i<information.length;i++){ %>
                            <tr>
                                <td><%= information[i].name%></td>
                                <td><%= information[i].user%></td>
                                <td><a target="_blank" class="playitbtn tryitbtnsyntax" id="http://127.0.0.1:9000/userDelinformation/<%= information[i]._id%>" onclick="torefresh(this)">信息下架</a></td>
                            </tr>
                            <% } %>
                            
                            </tbody>
                        </table>
                    </div>
                    <div id="viewnone" style="display: none"><%= id%></div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-section" style=" position:fixed; bottom:0;margin-left: 40%;border-top: dashed">
        <div class="coyright-content" align="center">
            <p>2017-2018 From LYZ 毕业设计</p>
        </div>
    </div>
</div>
<script>
    function update() {
        var name=document.getElementById("modal-756894").innerHTML;
        var password=document.getElementById("exampleInputPassword1").value;
        var id=document.getElementById("viewnone").innerHTML;
        $.post("http://127.0.0.1:9000/user/"+id,{name:name,password:hex_md5(password)},function (data) {
            if(data.ok){
                alert("密码修改成功");
            };
        })
    }

    function torefresh(obj) {
        var a= obj.id
        $.get(a,{},function (data) {
            alert("下架成功");
            window.location.reload();
        })
    }
</script>
</body>
</html>

